<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
    
    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    
    <body ng-cloak = "true">
        <div class="col-sm-2 col-lg-4"></div>
        <div ng-controller="RegCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
            <h1> Registration </h1>
            <form name="registrationform" ng-submit="registrationform.$valid && ctrl.onSubmit()" novalidate>
                <div class="form=group">
                    <label for="email">Email Address</label>
                    <input id="email" name="email" type="email" placeholder="you@domain.com" class="form-control" ng-model="ctrl.user.email" required/>
                    <div class="validation" data-ng-show"registrationform.email.$touched || registrationform.$submitted">
                    <!--always remember to include ng-model use data-ng-xx when it involves the data. || means or -->

                        <div data-ng-show="registrationform.email.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>Email is required
                    <!--glyphicon is a font-awesome-->
                        </div>
                        <div data-ng-show="registrationform.email.$error.email">
                            <span class="glyphicon glyphicon-alert"></span>Email is invalid
                        </div>
                    </div>
                </div>
                
                <div class="form=group">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" placeholder="something secret" class="form-control" ng-model="ctrl.user.password" required minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"/>
                        <div class="validation" data-ng-show"registrationform.password.$touched || registrationform.$submitted">
                            <div data-ng-show="registrationform.password.$error.required">
                                <span class="glyphicon glyphicon-alert"></span>Password is required.
                            </div>
                            <div data-ng-show="registrationform.password.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span>Password must be at least 8 characters long.
                            </div>
                            <div data-ng-show="registrationform.password.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span>Password must include special characters (!@#$%^&*), alphanumeric and both uppercase & lowercase.
                            </div>
                        </div>
                </div>

                <div class="form=group">
                        <label for="confirmpassword">Confirm Password</label>
                        <input id="confirmpassword" name="confirmpassword" type="password" placeholder="confirm password" ng-model="ctrl.user.confirmpassword" class="form-control" required ng-required="ctrl.user.password"/>
                <!--ng-required means that it require the earlier password to be filled in first-->
                        <div class="validation" data-ng-show="registrationform.confirmpassword.$touched || registrationform.$submitted">
                            <!--<div data-ng-show="registrationform.confirmpassword.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span>Confirm password is required
                                </div> this portion can be removed or added back in-->
                            <div data-ng-show="ctrl.user.password != ctrl.user.confirmpassword">
                <!-- "!=" means equal to -->
                                <span class="glyphicon glyphicon-alert"></span>Password does not match
                            </div>
                        </div>
                </div>
                
                <div class="form=group">
                        <label for="fullName">Full Name</label>
                        <input id="fullName" name="fullName" type="text" placeholder="Pat Yeo" ng-model="ctrl.user.fullName" class="form-control"/>
                        <div class="validation" data-ng-show"registrationform.fullName.$touched || registrationform.$submitted">
                            <div data-ng-show="registrationform.fullName.$error.required">
                                <span class="glyphicon glyphicon-alert"></span>Keyed in Full Name
                            </div>
                        </div>
                </div>
                <!--try out the text to uppercase-->
                <div class="form=group">
                        <label for="gender">Gender</label> <br>
                        <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="M"/>Male <br>
                        <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="F" ng-checked="true"/>Female
                        <div class="validation" data-ng-show="ctrl.user.gender =='M' || registrationform.gender.$untouched && ctrl.onlyFemale()== false">
                            <span class="glyphicon glyphicon-alert"></span> Female Only
                        </div>
                </div>

                <div class="form=group">
                        <label for="dob">Date of Birth</label> <br>
                        <input id="dob" name="dob" type="date" placeholder="Date of Birth" ng-model="ctrl.user.dob" class="form-control"/>
                        <div class="validation" data-ng-show"registrationform.dob.$touched || registrationform.$submitted">
                            <div data-ng-show="registrationform.dob.$error.required">
                                <span class="glyphicon glyphicon-alert"></span>Date of Birth is required
                            </div>
                            <div data-ng-show="registrationform.date.$error.date">
                                <span class="glyphicon glyphicon-alert"></span>Date is invalid
                            </div>
                        </div>
                </div>
                
                <div class="form=group">
                        <label for="address">Address</label> <br>
                        <input id="address" name="address" type="address" placeholder="Current Address" class="form-control"/>
                        <div class="validation" data-ng-show"registrationform.address.$touched || registrationform.$submitted">
                            <div data-ng-show="registrationform.address.$error.required">
                                <span class="glyphicon glyphicon-alert"></span>Address is required
                            </div>
                            <div data-ng-show="registrationform.address.$error.address">
                                <span class="glyphicon glyphicon-alert"></span>Address is invalid
                            </div>
                        </div>
                </div>

                <div class="form=group">
                        <label for="nationality">Nationality</label>
                        <select ng-model="ctrl.user.selectNationality" class="form-control" id="nationality"> <!--select is a drop down menu-->
                            <option ng-repeat="nationality in ctrl.nationalities" value="{{nationality.value}}">
                                {{nationality.name}}</option>
                <!--    {{}}is use to call in the angular, putting the {{nationality.name}} within the option
                        parameters is to show the variable names in the space.
                        
                            <option value="1">Singaporean</option>
                            <option value="2">Malaysian</option>
                            <option value="3">Indonesian</option>
                            <option value="4">Thai</option> 
                        remove this portion after input regCtrlself.nationalities in app.controller--> 
                        </select>   
                        <br>
                </div>
                
                <div class="form=group">
                        <label for="contactNumber">Contact Number</label>
                        <input id="contactNumber" name="contactNumber" type="number" placeholder="Local Contact" ng-model="ctrl.user.contactNumber" class="form-control"/><br>
                        <div class="validation" data-ng-show="registrationform.contactNumber.$touched || registrationform.$submitted">
                                <div data-ng-show="registrationform.contactNumber.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span>Contact Number is required
                                    </div>
                                <div data-ng-show="registrationform.contactNumber.$error.contactNumber">
                                    <span class="glyphicon glyphicon-alert"></span>Contact Number is invalid
                                    </div>
                            </div>
                </div> 

                <div class="form=group">
                            <input id="submit" name="submit" type="submit" class="btn btn-success" ng-disabled="ctrl.registrationform.$invalid"/>
                            <button type="reset" ng-click="ctrl.onReset()" class="btn btn-default">Reset</button>
                </div>
    <!--for the submit button to work, in the controller, need to activate the onSubmit button-->
    <!--the above function is subsequently moved to app.service.js-->
                
            </form>
       
        </div>
        
        
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <!-- <script src="/js/app.js"></script> -->
        <!-- refactor app.js to app.module.js and app.controller.js -->
        <script src="/app/app.module.js"></script>
        <script src="/app/app.service.js"></script>
        <script src="/app/app.controller.js"></script>
<!--any directive I create has to be before the controller as the controller is dependent on the service-->
    </body>
    
    </html>